body {
  background-color: rgb(222, 238, 195);
  justify-content: center;
  text-align: justify;
  width: 99%;
  height: 99%;
  margin-top: 0%;

  font-family: "Ysabeau Infant", sans-serif;
  display: flex;
}
.container {
  margin: 0rem;
  padding: 0rem;
}

.fa-solid {
  color: rgb(194, 225, 253);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2rem;
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15%;
  margin-bottom: 3rem;
  background-color: rgb(122, 143, 162);
  width: 85%;
  overflow: hidden;
  height: 3.5rem;
  font-size: 1.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0.07;
  transition: 1s ease-in-out;
  position: fixed;
  z-index: 1;
  padding-right: 4rem;
  padding-left: 4rem;
}
.navbar:hover {
  opacity: 1;
}

.box {
  display: flex;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0cm;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 20rem;
  position: absolute;
  top: 4.8rem;
  color: rgb(194, 225, 253);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  text-decoration: none;
}
.h2 {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 1000;
  color: rgb(194, 225, 253);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 0rem;
}
.afterh {
  font-size: 2rem;
  text-indent: 7rem;
  color: rgb(0, 0, 0);
  margin-left: 21rem;
  margin-top: 5.9rem;
  margin-right: 0.2%;
  padding-bottom: 2rem;
  justify-items: center;
  border-bottom: 3px solid rgb(122, 143, 162);
  border-bottom-style: double;
}

.sectionfont {
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid rgb(122, 143, 162);
  border-bottom-style: double;
  padding-bottom: 1rem;
}

.spring {
  background-color: rgb(216, 191, 224);
  margin-right: 3%;
  margin-left: 2.2%;
  border-radius: 15px;
  text-align: center;
  padding-top: 3rem;
}

.photo {
  max-width: fit-content;
  flex-wrap: nowrap;
  text-align: center;
  display: inline-block;
}

img {
  border-color: rgb(122, 143, 162);
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 15px;
  position: relative;
  width: 33rem;
  height: 25rem;
  object-fit: cover;
}

.caption {
  font-size: 1.4rem;
  color: rgb(194, 225, 253);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-style: unset;
  text-align: center;
  opacity: 0;
  transition: 1s;
  position: relative;
  font-weight: 900;
  justify-content: center;
  bottom: 4.8rem;
}

.photo:hover .caption {
  opacity: 1;
}

downbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(222, 238, 195);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(194, 225, 253);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(122, 143, 162);
}

@media screen and (max-width: 2400px) {
  .container {
    max-width: 2000px;
    margin: 1rem;
    margin-top: 0rem;
  }
  .navbar {
    padding-left: 1.8rem;
  }
  .spring {
    justify-content: space-between;
  }
  img {
    width: 46rem;
    height: 38rem;
  }
}

@media screen and (max-width: 1700px) {
  img {
    width: 70rem;
    height: 48rem;
  }
  .caption {
    font-size: 2rem;
    bottom: 8rem;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 970px;
  }
  h1 {
    font-size: 5rem;
    margin-top: 0%;
    padding-top: 0%;
    text-align: center;
  }
  .h2 {
    font-size: 2.3rem;
  }
  .navbar {
    height: 4rem;
    width: 73%;

    justify-content: space-around;
    border-bottom-right-radius: 15px;
    opacity: 0.3;
  }
  .afterh {
    font-size: 2.3rem;
    color: rgb(79, 79, 118);
    text-align: center;
    text-indent: 0rem;
  }
  .sectionfont {
    font-size: 4rem;
  }
  img {
    width: 42rem;
    height: 33rem;
  }
}

@media screen and (max-width: 898px) {
  .container {
    max-width: 800px;
    justify-content: center;
    padding: 0;
  }
  .box {
    flex-direction: column;

    align-items: center;
  }
  h1 {
    position: relative;
    width: fit-content;
  }
  .afterh {
    margin-left: 0rem;
  }

  .h2 {
    display: none;
  }
  .fa-solid {
    display: flex;
  }
  .navbar {
    height: 4rem;
    width: 75%;
    margin: 0;
    padding-top: 1rem;
    border-bottom-right-radius: 15px;
    opacity: 0.3;
  }
  img {
    width: 90%;
    height: 30rem;
    margin: 0%;
  }
  .caption {
    bottom: auto;
  }
}
